@{
    ViewData["Title"] = "Inicio";
}

<h2 class="mb-4">Proyecto POO2</h2>
<p>Iba ir algo mas aqui pero no hay tiempo.</p>
<p>
    Como resumen de lo que deberia ser la pagina, es una lista de recomendaciones de canciones donde se pueden publicar tanto las
    Urls como imagenes del album y una pequeña descripcion del porque las recomienda blahblahblah
</p>
<a class="" asp-area="" asp-controller="Post1" asp-action="Index">Aqui esta la lista.</a>

@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-success">@ViewBag.Mensaje</div>
}
